@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,800&family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* General Style */
@font-face {
  font-family: "Bodoni Body";
  src:  url("Bodoni-custom-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url(poppins200.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(poppins300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(poppins400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(poppins500.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(poppins600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(playfairdisplay.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.font-poppins  { font-family: 'Poppins'}
.font-bodony   { font-family: "Bodoni Body"}
.font-playfair { font-family: 'Playfair Display'}

*,
*::before,
*::after { 
               margin: 0; 
              padding: 0; 
           box-sizing: border-box; 
} html, body {     
               margin: 0;
              padding: 0;
   -ms-overflow-style: none;
      scrollbar-width: none; 
     
      scroll-behavior: auto;
  } body {     margin: 0;
              padding: 0;
           min-height: 100vh;
}               body::-webkit-scrollbar{
              display: none; 
}    details summary::-webkit-details-marker {
              display:none;
}   details > summary:first-of-type {
      list-style-type: none;
} img {
    -webkit-user-drag: none;
     -khtml-user-drag: none;
       -moz-user-drag: none;
         -o-user-drag: none;
} .video {      width: 100vw;
               height: 100vh;
             overflow: hidden;
              z-index: 40;
      background-size: cover;
    background-repeat: no-repeat;
  background-position: center center;
}  video { min-height: 100vh;
           max-height: -webkit-fill-available;
            min-width: 100vw;
            max-width: -webkit-fill-available;
           object-fit: fill;
              z-index: 40;
} .videologo{  filter: drop-shadow(2px 2px 1px rgb(0 0 0 / .6))}
input {outline: none}


/* Fonts  */
#portableMenu a,
#goMobile,
#modal-age,
.comment-container,
.pts,.footer,.nav a,.menu,
.wine-description small 
{ font-family:"Segoe UI",Verdana, Geneva, Tahoma, sans-serif}

.submenu h3,#goMobile,.price {    font-weight: bold     }
.pts                         {    font-weight: normal   }
.wine-description small      {      font-size: 11px     }
#modal-age button            {      font-size:  1.1rem  }
#modal-age                   {      font-size:  1.25rem }
.wine-name                   {      font-size:  1.6rem  }
.price                       {      font-size:  2rem    }
#portableMenu a              {      font-size:  5rem    }
.wine-name                   {    line-height:  1.8rem  } 
.wine-description small      { letter-spacing: -.7px    }

/* Colors */
  #modal-age button   {            color: #000000 } .menu,   
     footer a:hover   {            color: #222222 } 
          .footlink   {            color: #696865 } .wine-description small,
                .pts  {            color: #857b6b } #portableMenu a,#goMobile,.rose,.white,.red, .submenu h3,.wine-search button, 
.sparkling,.dessert   {            color: #87837d } .spanLeft, .spanRight,
.comment-container p  {            color: #a3a3a3 } #portableMenu a:hover,.rose:hover,.white:hover,.red:hover,.sparkling:hover, #modal-age,
     .dessert:hover   {            color: #ebe9e9 } video,
         #modal-age   { background-color: #000000 } 
#portableMenu a:hover { background-color: #87837d } .submenu a:hover,
  .usermenu a:hover   { background-color: #a3a3a3 } #home-main-2:hover,  footer .container, 
 #home-main-1:hover   { background-color: #e1dacf } .pts,
 .wine-button:hover   { background-color: #e4ded6 }
 html, body           { background-color: #e5dfd8 } .submenu, .usermenu, .submenucart,
#portableMenu         { background-color: #ebe9e9 }
#modal-age button     { background-color: #f6e5cf } .usermenu,.submenucart,.submenu,.wine-search button,
.wine-search input    {     border-color: #a3a3a3 }
              .pts    {     border-color: #b9ab95 }
.member-pic {
  filter:grayscale(70%);
  filter:brightness(1.02) 
}

/* alignment, size, margins, and display */

#home-main-1
{
  background-image: url('../img/main.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 50vw;
  max-height: 640px;
  max-width: 1280px;
  background-position: center;
}

#home-main-2
{
  background-image: url('../img/main2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
height:37vw;
max-height:450px  ;
max-width: 1280px;
background-position: center;
margin-bottom: 0;
padding-bottom: 0;
}

#modal-age
{
  position: sticky;
  bottom: 0;
  width:100%;
  text-align: center;
  padding: 20px 0;
  opacity: .7;
  z-index: 5;
  display: none;
}

#modal-age button{
  margin-left: 10px;
  padding: 3px 7px;
  border-radius:7px;
  letter-spacing: 1px;
}

footer .container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  margin: 0 auto;
}

.footlink {
  width: 180px;
  display: inline-block;
  position:relative;
  text-decoration:none;
}

.spanLeft{
  position: absolute;
  left:-7px;
  opacity:0;
  transition:0.25s;
}

.spanRight{
  position: absolute;
  right:-7px;
  opacity:0;
  transition:0.25s;
}
#contact-div {margin-left: 30px;}

.wine-description { margin:0 auto;  padding:1rem 0 2rem 0; word-spacing:-.07vw; text-align:justify;text-justify: auto; -webkit-hyphens: auto; -webkit-hyphenate-limit-before: 3; -webkit-hyphenate-limit-after: 3; -webkit-hyphenate-limit-chars: 6 3 3; -webkit-hyphenate-limit-lines: 2; -webkit-hyphenate-limit-last: always; -webkit-hyphenate-limit-zone: 8%; -moz-hyphens: auto; -moz-hyphenate-limit-chars: 6 3 3; -moz-hyphenate-limit-lines: 2; -moz-hyphenate-limit-last: always; -moz-hyphenate-limit-zone: 8%; -ms-hyphens: auto; -ms-hyphenate-limit-chars: 6 3 3; -ms-hyphenate-limit-lines: 2; -ms-hyphenate-limit-last: always; -ms-hyphenate-limit-zone: 8%; hyphens: auto; hyphenate-limit-chars: 6 3 3; hyphenate-limit-lines: 2; hyphenate-limit-last: always; hyphenate-limit-zone: 8% }
.wine-search input {border:2px solid; border-radius: 7px; padding:0 4px; width:250px}
.wine-search button {margin-left:2px;border:2px solid; border-radius: 7px; padding:0 3px}
.wine-types-submenu a { min-width:70px;display: inline-block}

.usermenu {  border:2px solid;  margin-top:6px;  position:absolute;  width:78px;  height:104px;  border-radius: 7px;  z-index: 50;}
.usermenu a {width:74px;padding-left:5px;display:inline-block;padding-bottom:2px;height:25px}
.usermenu a:first-of-type:hover { padding-top:0px}
.usermenu a:last-of-type:hover { padding-bottom:0px }
.submenu h3 {margin-top: 9px}
.submenu a {padding:4px}

.submenu {
       border : 2px solid  ;
     position : absolute   ;
  margin-left :  -2px      ;
  margin-top  :   7px      ;
        width : 480px      ;
      padding :   14px 8px ;
 border-radius:    7px     ;
}
.submenucart {
  border:2px solid;
  position:absolute;
  width: 300px;
  margin-top:30px;
  height:644px;
  padding:14px 8px;
  border-radius: 7px;
}

.price {
  display:table;
  text-align:center;
  vertical-align: middle;
  margin-top: 1.25rem
}

#region {max-width: 80px}

#portableMenu {
  width:100vw;
  height:100vh;
  z-index:50;
  top:0;
  left:0;
  position: absolute;
  display: none;
}

#goMobile {margin-top: 44px;}
.nav{display: none}
.nav-icons{padding-bottom: 90px;margin-right:20px}

.wine-description{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
  padding-right: 1.5rem;
  text-align: justify;
  margin-bottom: .75rem;
}

.pts {
  border:1px solid;
  padding:4px 8px;
  border-radius: 5px;
  display: table-cell;
  vertical-align: middle;
  scale: .7;
  }

@media screen and (min-width:1px) and (max-width: 359px) 
{
  .main-body { 
    min-height: calc(100vh - 35px);
        margin: 0!important;
         scale: 1;
      overflow: hidden!important;
  }

  .div-members   ,
  .main-about h2 ,
  .main-about p
  {
    padding-left : 1.5rem;
    padding-right: 1.5rem;
    font-size: 110%;
    hyphens: auto;
  }



  #navbar {
          scale:   .8  ;
    margin-left: -3.4% ;
        z-index:  40   ;
  }
  .nav-icons {
          scale: .75;
     margin-top: 30px;
   margin-right: -6px;
  }
  .wine-types a 
  {
    text-transform: capitalize!important;
         font-size: 75%;
    letter-spacing: -.5px;
  }
  footer .container {
    background-color: transparent;
  }
  .footer-logo 
  {
    display:none
  }
  footer * {
    font-size: 13px;
  }
  #footer-links
  { margin-left: -14.5vw;
     margin-top: -45px;
  }
  #footer-links-left
  { text-transform: capitalize!important;
  }
  #contact-div
  { margin-left: 4.5vw;
    margin-top: -5px;
    line-height: 9px;
  }
  footer .container {
    height:150px!important
  }

  #passion-for-wine 
  .wine-types 
  { margin-top: 0; 
    padding-bottom: 20px;
  }
  .wine-types 
  .relative 
  { display: none 
  }
  .wine-types
  { letter-spacing: 0px; 
    font-size: 1.125rem 
  }
  .wine-types a:hover
  { background-color: #87837d 
  }

  .wine-types a 
  { min-width:20%; 
    border-right: 1px solid #a3a3a3; 
    border-top:1px solid #a3a3a3;
    border-bottom:1px solid #a3a3a3;
    font-family:"Segoe UI",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600; 
    text-transform: uppercase; 
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: -10px;
  }

  .wine-types a:last-of-type 
   { border-right: none 
   }

   .page-numbers 
   { display: none 
   }

   .price {    font-size: 185%!important;    margin-top: -10px!important;   }
   .wine-winery{font-size:110%!important}
   .wine-name {font-size: 130%!important; line-height:120%!important;height:80px;overflow: hidden; vertical-align: middle; display: table-cell;text-overflow: ellipsis;}
   .wine-description {font-size: 90%!important; word-spacing: -3px; line-height: 105%!important; height:92px; overflow: hidden;  padding-bottom: 12px;  }
   .wine-bootle{margin-top: -26px!important}
   .wine-button{margin-left:32px;margin-top:-4px}
   .wine-card {padding-bottom: 4px!important}
   #filter-price{width:60px}
   #filter-vintage{width:74px}
   #filter-score{width:60px}
}


@media screen and (min-width:360px) and (max-width: 540px) 
{
  .main-body { 
    margin: 0!important;
  }
  .div-members   ,
  .main-about h2 ,
  .main-about p
  {
    padding-left : 2rem;
    padding-right: 2rem;
    font-size: 130%;
    hyphens: auto;
  }

  .member-card {margin-bottom: 5%}



  #navbar {scale:.8;margin-left: -3.4%;z-index: 40;}
  .nav-icons {scale:.75;margin-top: 30px;}
  .main-body {overflow: hidden!important;}
  .wine-types a 
  {
    text-transform: capitalize!important;
    font-size: 75%;
  }

  footer .container 
  { height:120px!important
  }
 .footer-logo 
  {
    display:none
  }
  #footer-links
  { margin-left: -10vw;
    margin-top: -45px;
    font-size: 85%;
  }
  #contact-div
  { margin-top: -5px;
    margin-left: 2vw;
    font-size: 104%;
  }
  #footer-links-left
  { text-transform: capitalize!important;
  }

  #passion-for-wine 
  .wine-types 
  { margin-top: 0; 
    padding-bottom: 20px;
  }
  .wine-types 
  .relative 
  { display: none 
  }
  .wine-types
  { letter-spacing: 0px; 
    font-size: 1.125rem 
  }
  .wine-types a:hover
  { background-color: #87837d 
  }

  .wine-types a 
  { min-width:20%; 
    border-right: 1px solid #a3a3a3; 
    border-top:1px solid #a3a3a3;
    border-bottom:1px solid #a3a3a3;
    font-family:"Segoe UI",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600; 
    text-transform: uppercase; 
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: -10px;
  }

  .wine-types a:last-of-type 
   { border-right: none 
   }

   .page-numbers 
   { display: none 
   }

}

@media screen and (min-width:541px) and (max-width: 820px) 
{
  .main-body { 
        margin: 0!important;
         scale: 1;
      overflow: hidden!important;
  }

  .div-members   ,
  .main-about h2 ,
  .main-about p
  {
    padding-left : 2.25rem;
    padding-right: 2.25rem;
    hyphens: auto;
  }


  .div-members{
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }






  .footer-logo 
  {
    margin-left  : -30px!important ;
    margin-top   : -44px!important ;
    margin-bottom: -12px!important ;
  }
  footer .container {height:136px!important}

  #footer-links
  { margin-left:  20px ;
    margin-top : -52px ;
  }
  #contact-div
  { margin-left: 30px
  }
  #footer-links-left
  { text-transform: capitalize;
  }
  

  #passion-for-wine 
  .wine-types 
  { margin-top: 0; 
    padding-bottom: 20px;
  }
  .wine-types 
  .relative 
  { display: none 
  }
  .wine-types
  { letter-spacing: 0px; 
    font-size: 1.125rem 
  }
  .wine-types a:hover
  { background-color: #87837d 
  }

  .wine-types a 
  { min-width:20%; 
    border-right: 1px solid #a3a3a3; 
    border-top:1px solid #a3a3a3;
    border-bottom:1px solid #a3a3a3;
    font-family:"Segoe UI",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600; 
    text-transform: uppercase; 
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: -10px;
  }

  .wine-types a:last-of-type 
   { border-right: none 
   }

   .page-numbers 
   { display: none 
   }

}  

/* -1200px */

@media screen and (min-width:821px) and (max-width: 1199px) 
{

  .main-body { 
    min-height: calc(100vh - 35px);
        margin: 0!important;
         scale: 1;
      overflow: hidden!important;
  }


  .div-members   ,
  .main-about h2 ,
  .main-about p
  {
    padding-left : 5rem;
    padding-right: 5rem;
  }

  .div-members{
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 3fr));
  }

  .member-card:nth-child(n+7) {width:120%;margin-left: 60%}
  .member-card:nth-child(n+8) {width:120%;margin-left: 60%}



footer .container {height: 154px!important}
#contact-div  {margin-top: 0px}
#footer-links {margin-top: -40px;}

  .footer-logo {
     margin-left:  15px ;
      margin-top: -30px ; 
   margin-bottom: -12px ;
  }

  #footer-links-left
  {
    text-transform: uppercase;
  }

  #passion-for-wine 
  .wine-types 
  { margin-top: 0; 
    padding-bottom: 20px;
  }
  .wine-types 
  .relative 
  { display: none 
  }
  .wine-types
  { letter-spacing: 0px; 
    font-size: 1.125rem 
  }
  .wine-types a:hover
  { background-color: #87837d 
  }

  .wine-types a 
  { min-width:20%; 
    border-right: 1px solid #a3a3a3; 
    border-top:1px solid #a3a3a3;
    border-bottom:1px solid #a3a3a3;
    font-family:"Segoe UI",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600; 
    text-transform: uppercase; 
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: -10px;
  }

  .wine-types a:last-of-type 
   { border-right: none 
   }

  .page-numbers 
   { display: none 
   }
  #portableMenu 
   { vertical-align: middle;
   }
  #portableMenu a 
   {        width: 100vw;
          display: inline-block;
       text-align: center;
       margin-top: 10vh;
    margin-bottom: 1rem;
       margin-top: 0;
          padding: 12px 0;
   }
}
/* 1200px */

@media screen and (min-width: 1200px) 
{
  body   { margin       :  50px }
  .video { margin-top   : -50px ;
           margin-left  : -50px ;
           margin-bottom:  50px ;
  }
  
  .main-body
  {
    box-shadow:10px 10px 15px rgba(0,0,0,0.4)
  }

  .div-members   ,
  .main-about h2 ,
  .main-about p
  {
    padding-left : 5rem;
    padding-right: 5rem;
  }

  .div-members{
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .nav 
  {
    display: inline-block;
    padding-top: 3px;
  }
  #goMobile {display: none}

  .footer-logo 
  {   margin-left: -20px ; 
       margin-top:  10px ; 
    margin-bottom: -10px ;
  }
  #footer-links {margin-left: 70px;}
  #contact-div {margin-left:-46px!important;margin-top: -8px;line-height: 22px;}

  .footlink:hover .spanLeft
  {  position: absolute;
     left:-20px;
     opacity:1;
  } .footlink:hover .spanRight{
   position: absolute;
   right:-1px;
   opacity:1;
  } footer .container 
  { background-image: url('/assets/footer2.png')
  }
  #footer-links-left
  {
    text-transform: uppercase;
  }
  #passion-for-wine .wine-types {margin-top: 40px;padding-bottom: 10px;}
  .wine-types .relative {display: block}
       .rose:hover {color:#b96969; text-transform: uppercase; letter-spacing: 0px;}
      .white:hover {color:#a2ae8e; text-transform: uppercase; letter-spacing: 0px;}
        .red:hover {color:#6f0407; text-transform: uppercase; letter-spacing: 0px;}
  .sparkling:hover {color:#d2ae25; text-transform: uppercase; letter-spacing: 0px;}
    .dessert:hover {color:#b90114; text-transform: uppercase; letter-spacing: 0px;}
       .rose:hover img,
      .white:hover img,
        .red:hover img,
  .sparkling:hover img { transform:rotate(-64deg) }
  .page-numbers {
    display:flex
  }
  .wine-description{
    text-overflow: none;
         overflow: none;
    padding-right: 1rem;
       text-align: left;
          display: inline-block;
    margin-bottom: -1.25rem;
  }
  .wine-name{
   font-size: 2.25rem; 
   line-height: 2.5rem; 
  }
  .bgProduct{
   background-image: url('../img/bgProduct.png');
   background-size: cover;
  }
  .bg-product{
   background-image: url('../img/bgProduct.png');
   background-size: 424px 440px;
   background-repeat: no-repeat;
   background-position-y: -30px;
  }
}

/* cursors, and animations */

.menu {
  background: 
    linear-gradient(90deg,#fff 50%,#a3a3a3 0) 100% ,
    linear-gradient(#a3a3a3 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 1s;
}

.price {
    font-size: 2.25rem; 
    line-height: 2.5rem;
    margin-top:5px;
    margin-bottom: -25px;   
   }
 



.menu:hover {  --_p: 100%}

.main-home1:hover,
.main-home2:hover,
.video-logo{cursor:pointer}

.spinner-wrapper {
  position: absolute;
  width:100%;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  max-width: 1280px;
  z-index: 9999;
} 
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.spinner {
  color: #87837d;
  font-size: 10px;
  margin: 69px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
margin-right: 150px;
}
.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  top: 0;
}
.spinner:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
