@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color:#ebe9e9;
}

.nav a:hover {
background:#a3a3a3

}