@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color:#ebe9e9;
  scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: light;
  user-select: none;
  -moz-user-select: none;
-webkit-user-select: none;
   -ms-user-select: none;
}

body::-webkit-scrollbar{
    display: none;
  }


.nav a {font-family:Verdana, Geneva, Tahoma, sans-serif}
.nav a:hover {
background:#a3a3a3
}
.footer{font-family:Verdana, Geneva, Tahoma, sans-serif}